
/* --------------------------
Moduler Web Design(LEGO like design)
-------------------------- */
@mixin layout ($var) {
    $padding-x: map-get($var, padding-x);
    $padding-y: map-get($var, padding-y);
    $padding-outer-x: map-get($var, padding-outer-x);
    $padding-outer-y: map-get($var, padding-outer-y);

    .container {
        padding: $padding-outer-y $padding-outer-x;
    }
    .container--fullwidth {
        padding: ($padding-outer-y / 2) 0;
        margin: 0 (-$padding-outer-x / 2);
    }
    .container--fullheight {
        padding: $padding-outer-y $padding-outer-x;
    }
    .element {
        padding: ($padding-y / 2) ($padding-x / 2);
    }
    .element--fullwidth {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: -$padding-outer-x;
        margin-right: -$padding-outer-x;
        padding: ($padding-y / 2) 0;
    }
}

/* --------------------------
font-size
-------------------------- */
@mixin fts($fts, $lin: 24) {
    $rem: $fts / 10;
    $linS: $lin / $fts;
    font-size: #{$fts}px;
    font-size: #{$rem}rem;
    line-height: $linS;
}
