.card {
    display: block;
    position: relative;
    a {
        display: block;
        border: 1px solid $color-text-default;
        color: $color-text-default;
        text-decoration: none;
        padding: map-get($padding, padding-y) map-get($padding, padding-x);
        &:hover {
            opacity: 0.7;
        }
    }
}
