.sp-only {
    display: none !important;
    @media screen and (max-width: 767px) {
        display: initial;
    }
}
.pc-only {
    display: initial;
    @media screen and (max-width: 767px) {
        display: none !important;
    }
}
